<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Song</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<h1>Add New Song</h1>
<form th:action="@{/songs}" th:object="${song}" method="post" enctype="multipart/form-data">
    <div>
        <label>Name:</label>
        <input type="text" th:field="*{name}" class="form-control" />
    </div>
    <div>
        <label>Artist:</label>
        <input type="text" th:field="*{artist}" class="form-control" />
    </div>
    <div>
        <label>Genre:</label>
        <input type="text" th:field="*{genre}" class="form-control" />
    </div>
    <div>
        <label>File:</label>
        <input type="file" name="file" class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
<a href="/songs" class="btn btn-secondary">Back to List</a>
</body>
</html>
