<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Song List</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<h1>Song List</h1>
<a href="/songs/new">Add New Song</a>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song : ${songs}">
        <td th:text="${song.name}">Song Name</td>
        <td th:text="${song.artist}">Artist</td>
        <td th:text="${song.genre}">Genre</td>
        <td>
            <a th:href="@{/songs/{id}/edit(id=${song.id})}">Edit</a>
            <a th:href="@{/songs/{id}(id=${song.id})}">View</a>
            <a th:href="@{/songs/{id}/delete(id=${song.id})}"
               onclick="return confirm('Are you sure you want to delete this song?');">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
